# Dependencies
node_modules

# Build
dist
dist-ssr
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
*.pem

# Logs
logs
*.log
npm-debug.log*

# Environment
.env
.env.*
!.env.example

# Temp
.playwright-tmp
